* { margin: 0; padding: 0; }

html {
    height: 100%;
}

.wrap {
    display: grid;
    min-height: 100vw;
    grid-template-rows: 50px 5fr;
    grid-template-columns: 100%;
    grid-template-areas: "head" "cont";
}

.wrap > header {
    grid-area: head;
    background-color: #75c7c1;
}

.wrap > div {
    margin-left: 7vw;
    margin-right: 7vw;
    grid-area: cont;
    background-color: #99d0cc;
}