.image-list-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 40px;
    grid-template-areas: "i" "b";
}

.image-list-container__empty {
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
    grid-template-areas: "h";
    
}

.image-list-container__empty h2 {
    grid-area: h;
    font-size: 32px;
    font-weight: bold;
    color: rgb(130, 147, 156);
    align-self: center;
    justify-self: center;
}

.image-list {
    grid-area: i;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1px 10px;
    grid-auto-rows: 10px;
}

.button-container {
    grid-area: b;
    text-align: center;
    justify-items: center;
}

.load-more__button {
    font-size: 26px;
    font-weight: bold;
    color: rgb(95, 107, 106);
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    transition: 0.2s;
}

.load-more__button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.image-box {
    position: relative;
}

.image-box__img {
    width: 250px;
    grid-row-end: span 2;
}

.image-box__img:hover ~ .image-box__action-block {
    cursor: pointer;
    display: flex;
}

.image-box__action-block {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    flex-direction: row;
    background-color: rgb(85, 255, 232, 0.8);
    cursor: pointer;
}

.image-box__action-block:hover {
    display: flex;
}

.image-box__action-block > div {
    padding: 5px;
}

.image-box__action-block > div > i {
    color: black;
}
